* {
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  height: 250px;
  width: 300px;
  background: rgb(216, 216, 216);
  border-radius: 10px;
  padding: 5px 5px;
  box-sizing: border-box;
  margin: 5px;
  color: dodgerblue;
}
.tab { 
  white-space: pre; 
}

.fakeimg {
  height: 200px;
  background: #aaa;
}

#star{
  background-image: url("../imgs/stars.png");
  height: 310px;
  background-size: contain;
  background-repeat: no-repeat;
}

#brightday{
  background-image: url("../imgs/brightday.png");
  height: 310px;
  background-size: contain;
  background-repeat: no-repeat;
}

#myphoto {
  background-image: url("../imgs/me1.jpg");
  height: 310px;
  background-size: contain;
  background-repeat: no-repeat;
}

h2 {
  color: dodgerblue;
}

h4 {
  color: floralwhite;
}

h6 {
  color: dodgerblue;
}