@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body{
  font-family: 'Noto Sans KR', sans-serif;
}

.headline{
  font-weight: 600;
}

.content {
  height: 250px;
  width: 300px;
  background: rgb(216, 216, 216);
  border-radius: 10px;
  padding: 5px 5px;
  box-sizing: border-box;
  margin: 5px;
  color: dodgerblue;
}
.tab { 
  white-space: pre; 
}

.fakeimg {
  height: 200px;
  background: #aaa;
}

#myphoto > img {
  height: 310px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin-bottom: 5%;
}

h2 {
  color: dodgerblue;
}

h4 {
  color: floralwhite;
}

h6 {
  color: dodgerblue;
}