@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
body{
    background-color: rgb(191, 232, 255);
    font-family: 'Noto Sans KR', sans-serif;
    -ms-overflow-style: none; /*스크롤 바 없애기*/
    line-height: 1.5em;
    margin: 0;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
::-webkit-scrollbar { /*스크롤 바 없애기*/
    display: none; 
}
/* .container {
    display: flex;
} */
.container > h1{
    font-size: 40px;
    font-weight: bold;
    color: dodgerblue;
    margin-top: 10px;
}
.title{
    display: block;
    position: absolute;
    top: 5%;
    left: 5%;
}

.previous{
    position: absolute;
    right: 5%;
    bottom: 5%;
}
.card{
    width: 30rem;
}
.card-columns{
    position: absolute;
    top: 15%;
    left: 50%;
    width: 60%;
    margin-left: -30%;
}

.card-img-top{
    width: 100%;
}
h4{
    font-weight: bold;
    color: dodgerblue;
}
.intro{
    color: black;
    font-size: 16px;
}
.card-columns p{
    font-size: 16px;
}
.language{
    width: 12%;
    margin: 2%;
}
.language_2{
    width: 16%;
    margin: 2%;
}
.language_db{
    width: 22%;
    margin: 1%;
}
.tool{
    width: 12%;
    margin: 2%;
}