body{
    background-color: rgb(191, 232, 255);
    font-family: sans-serif;
}
.card-img-top{
    width: 100%;
}
.container > h2{
    font-size: 36px;
    font-weight: bold;
    color: dodgerblue;
    margin-top: 10px;
}
.previous{
    position: absolute;
    right: 5%;
    bottom: 5%;
}
.card-columns{
    position: absolute;
    top: 15%;
    left: 35%;
    width: 60%;
}
h4{
    font-weight: bold;
    color: dodgerblue;
}
.intro{
    color: black;
    font-size: 16px;
}
.card-columns p{
    font-size: 13px;
}
.language{
    width: 12%;
    margin: 2%;
}
.language_2{
    width: 16%;
    margin: 2%;
}
.language_db{
    width: 22%;
    margin: 1%;
}