body{
    background-color: rgb(191, 232, 255);
    font-family: sans-serif;
}
.card-img-top{
    width: 100%;
}
.container > h2{
    font-size: 50px;
    font-weight: bold;
    color: rgb(47, 79, 255);
}
.previous{
    position: absolute;
    right: 5%;
    bottom: 5%;
}
.card-columns{
    position: absolute;
    top: 15%;
    left: 35%;
    width: 60%;
}
h4{
    font-weight: bold;
    color: dodgerblue;;
}
.card-columns p{
    font-size: 13px;
}